<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <script src="../../js/script.js" defer></script>
    <link href="../../public/css/styles.css" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <nav class="flex justify-between p-2">
        <div class="logo">
            <span>TT</span>
            <span>Tune Tracker</span>
        </div>
        <div class="flex gap-6">
            <span><a>Home</a></span>
            <span><a>Admin</a></span>
        </div>
    </nav>
    <main>
    
    </main>
</body>
</html>